body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

h1 {
  color: #866ec7;
  padding-top: 50px;
}

h2 {
  max-width: 200px;
  position: relative;
  right: 250px;
  left: 25px;
  color: #bc99c5;
  padding-top: 30px;
  padding-bottom: 15px;
}

h3 {
  position: relative;
  left: 15px;
}

h4{
  position: relative;
  left: 25px;
  bottom: 60px;
  text-transform: capitalize;
  font-style: italic;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 30 px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  color: #782791;
}

.container-fluid {
  max-width: 1500px;
  margin: 30 auto;
  padding: 20;
  border:2px solid #782791 ;
  border-radius: 50px;
  background-color: #f1c2d6;
}

.search-form {
  border: 1px dotted #660b82;
  border-radius: 50px;
  padding: 20px;
}

.col-6 {
  padding-left: 0;
  padding-right: 0;
}

.col {
padding-right: 0;
padding-left: 0;
display: flex;
flex-direction: row;
justify-content: center;
}

.current-button {
  background-color: #f2c0ff;
  border-color: #f2c0ff;
  color: #866ec7;
  border-radius: 20px;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 400px;
}

.city-search {
  background-color: #d59fe2;
  border-color: #e494f8;
  color: #866ec7;
  border-radius: 20px;
}

.current-weather{
  position: relative;
  bottom: 40px;
}

.icon{
  position: relative;
  left: 30px;
  width: 80px;
  height: 80px;
}

.temperature {
  font-size: 30px;
  position: relative;
  left: 100px;
  bottom: 70px;
}

.temperature .units {
  font-size: 14px;
  color: black;
  text-decoration: none;
  position: relative;
  top: -10px;
}

.temperature .active {
  color: black;
  font-weight: bold;
  cursor: default;
}

.temperature .active:hover{
  text-decoration: none;
}

.weather-condition{
  position: relative;
  left: 230px;
  bottom: 130px;
}

.weekly-forecast{
  position: relative;
  bottom: 380px;
  left: 400px;
  text-align: center;
}

.weekly-forecast-temperature-max{
  font-weight:bold;
  display: inline;  
}

.weekly-forecast-temperature-min{
  display: inline;
}