body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

h1 {
  color: #866ec7;
  padding-top: 100px;
}

h2 {
position: relative;
right: 250px;
left: 20px;
color: #bc99c5;
padding-top: 35px;
padding-bottom: 15px;
}

h4{
  color: black;
  position: relative;
  left: 25px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 30 px;
  padding: 0;
  margin: 0;
}

.weather-page {
  max-width: 1000px;
  margin: 30 auto;
  padding: 20;
  border:2px solid #782791 ;
  border-radius: 15px;
  background-color: #f1c2d6;
}

.col-6 {
  padding-left: 0;
  padding-right: 0;
}

.col {
padding-right: 0;
padding-left: 0;
display: flex;
flex-direction: row;
justify-content: center;
}

.current-button {
  background-color: #f2c0ff;
  border-color: #f2c0ff;
  color: #866ec7;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 400px;
}

.city-search {
  background-color: #d59fe2;
  border-color: #e494f8;
  color: #866ec7;
}

.weather-condition{
  position: relative;
  left: 200px;
  bottom: 110px;
}